* {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(15, 15, 15);
    background-size: cover;
    position: relative;
    background-image: url(wall.jpg);
}

.text-container {
    width: 100vw;
    height: 30vh;
    margin-top: 5vh;
    text-align: center;
}

.head {
    font-size: 2.2em;
    width: 50%;
    margin-left: 24%;
    background-color: rgba(255, 255, 255, 0.15);
    margin-top: 20px 40px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.head span {
    color: #2fff1c;
}

.desc {
    font-size: 1.4em;
    margin-left: 10%;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px 40px;
    border-radius: 8px;
}

.img-container {
    display: flex;
    align-content: space-between;
    margin-left: 150px;
}

.poster {
    padding: 10px 30px;
}

#img1 {
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 500px;
    background-image: url(./dragons/zippleback/zippleback2.png);
}

#img2 {
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 640px;
    background-image: url(./dragons/zippleback/zippleback1.jpg);
}

.btn {
    position: absolute;
    font-weight: bold;
    background: rgb(1, 196, 255);
    border-radius: 7px;
    padding: 13px 20px;
    font-size: 1.5em;
    cursor: pointer;
    color: black;
    top: -1%;
    right: 4%;
}

.btn:hover {
    text-decoration: underline;
}